# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Composer packages
vendor

# NPM packages
node_modules

# Utilities
composer.phar
phpunit.phar

# Cache
/cache/

# Sensitive
/config/config.yaml
/templates/_analytics.html.twig
/templates/_donations.html.twig

# Compiled code
/web/js/
/web/css/

# Caches
/db/*.dat

# Keep files
!.gitkeep

# Misc
result
