# Don't commit this file to source control, it contains your secret settings.

twitter_url: ~ # The URL of your Twitter profile.
github_url: ~ # The URL of your GitHub profile.
sourire_service: "http://localhost:8081/" # The URL of the Sourire molecule rendering service
cache_dir: "/tmp/avogadrio" # THe directory to store cache entries
